.headline{
    margin-top: 1em;
    display: flex;
    justify-content: center;
}

.headline svg{
    width: 430px;
}

.menus{
    margin-top: 1em;
    display: flex;
    justify-content: center;
    border-top: 1px solid #ededed;
    border-bottom: 4px double black;
    flex-wrap: wrap;
}

.menus button{
    border: none;
    background: none;
    margin: 5px;
}

.menus button:hover{
    background-color: beige;
    text-decoration: underline red 2px;
}

.newsimg-size{
    max-width: 100%;
    max-height: 250px;
}

.news{
    border-bottom: 2px solid black;
}

.topline{
    display: flex;
    justify-content: start;
}


.hamburger-menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
    display: none;
    width: 50px;
}

.hamburger-menu:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.bar {
    width: 27px;
    height: 13px;
    background-color: #333;
}
.nav-menu {
    display: none;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.nav-menu a {
    padding: 10px 15px;
    text-decoration: none;
    color: #333;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.nav-menu a:hover {
    background-color: rgba(0, 0, 0, 0.05);
    text-decoration: underline 1px red;
}

.input-deco{
    width: 350px;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    height: 30px;
}

.icon-deco{
    font-size: 21px;
    padding-top: 6px;
    margin-right: 3px;
    margin-top: 6px;
    position: relative;
    top: -1px;
    font-size: 28px 
}

.search-posi{
    position: relative;
    top: 0px;
    font-size: 30px 
}


@media(max-width:670px){
    .hamburger-menu{
        display: block;
        gap: 150px;
        padding-top: 13px;
    }

    .bar{
        padding-top: 5px;
        margin-top: 2.5px;
        height: 3px;
    }

    .menus{
        display: none;
    }

    .input-deco{
        width: 170px;
        height: 30px;
        padding-top: 6px;
        margin-top: 3px;
    }

    .topline{
        display: flex;
        justify-content: start;
       
    }

    .icon-deco{
        font-size: 22px;
        margin-right: 8px;
        padding-top: 8px;
    }

    .search-posi{
        position: relative;
        top: -1px;
        font-size: 23px 
    }

    .headline svg{
        width: 340px;
    }
}

@media(min-width : 600px) and (max-width : 1024px){
    .hamburger-menu{
        display: block;
        gap: 50px;
    }

    .bar{
        padding-top: 5px;
        margin-top: 1px;
        height: 1px;
    }

    .menus{
        display: none;
    }

  
}

.pointer{
    cursor: pointer;
}

.pagenav{
    display: flex;
    justify-content: center;
}
